@font-face {
    font-family: "geist";
    src: url(./assets/fonts/Geist/Geist-VariableFont_wght.ttf);
}

:root{
    --box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.041);
    --primary-text-color: rgba(255, 255, 255, 0.75);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "aside header"
        "aside main"
        "aside footer";
    min-height: 100vh;
    color: white;
    font-family: "geist", sans-serif;
    padding: 1.75rem;
    gap: 2rem;
}

aside,
header,
.day-container{
    color: white;
    background-color: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(8px);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.247);
    box-shadow: var(--box-shadow);
    padding: 1rem;
}


/* --Header-- */
header{
    grid-area: header;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-location{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    transition: 0.2s ease;
}

.search-location:focus-within{
  border-bottom-color: rgba(255, 255, 255, 0.7);
}

.search-location input{
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 0.9rem;
    font-family: "geist", sans-serif;
    padding: 0.4rem 0.1rem;
}

.search-location input::placeholder{
  color: rgba(255, 255, 255, 0.5);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    font-size: 0.9rem;
    font-family: "geist", sans-serif;
    box-shadow: inset 0 0 20px 20px rgba(255, 255, 255, 0);
}

.search-location svg{
    width: 25px;
    height: 25px;
}

.search-btn{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.2s ease;
}

.search-btn:hover{
    color: white;
}

.header-right{
    display: flex;
    gap: 1.5rem;
}

.fahrenheit-btn,
.celsius-btn{
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.247);
    border-radius: 50%;
    padding: 1.10rem;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: "geist" sans-serif;
    transition: 0.2s ease;
}

.fahrenheit-btn:hover,
.celsius-btn:hover{
    background-color: rgba(255, 255, 255, 0.13);
}

.fahrenheit-btn.active,
.celsius-btn.active{
    border: 1px solid white;
}

/* --Sidebar-- */
aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
}

aside h1{
    font-size: 2rem;
}

aside h3{
    font-size: 1.2rem;
}

aside img{
    width: 280px;
    height: 280px;
    margin-bottom: -0.5rem;
}

.current-weather-top{
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.current-weather-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.current-temp{
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: -1px;
}

.current-weather-bottom{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bottom-info{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    font-size: 1.05rem;
}

.extra-info-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.25rem;
    margin-top: 3rem;
}

.extra-info-container h4 {
    width: 100%;
    text-align: center;
    padding-bottom: 0.4rem;
    margin-bottom: 1.15rem;
    position: relative;
}

.extra-info-container h4::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.39);
}

.extra-info-container p{
    color: var(--primary-text-color);
    font-size: 0.95rem;
}

.wind-container,
.uv-container,
.humidity-container,
.visibility-container{
    background-color: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.247);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    transition: 0.2s ease;
}

.uv-container p,
.humidity-container p,
.visibility-container p{
    text-align: center;
}

.wind-container:hover,
.uv-container:hover,
.humidity-container:hover,
.visibility-container:hover {
  transform: translateY(-2px);
  background-color: rgba(255, 255, 255, 0.07);
}

.wind-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wind-info span{
    margin-left: auto;
}

.wind-speed-container,
.wind-gust-container,
.wind-direction-container{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
    width: 100%;
}

.uv-info,
.humidity-info,
.visibility-info{
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 2rem;
}

.uv-value,
.humidity-value,
.visibility-value{
    font-size: 2.15rem;
    font-weight: 500;
    text-align: center;
}

/* --Main-- */
main{
    grid-area: main;
}

main h2{
    margin-bottom: 1rem;
}

.forecast-container{
    display: flex;
    gap: 1.5rem;
    height: 93%;
}

.day-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.day-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day-of-week{
    font-size: 1.50rem;
}

.forecast-temp{
    font-size: 2rem;
}

.forecast-top-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.day-bottom{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.day-bottom p {
  color: var(--primary-text-color);
}

.day-bottom span {
  font-weight: 500;
  text-align: right;
}

.day-bottom > div {
  padding-bottom: 0.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.day-bottom > div:last-child {
  border-bottom: none;
}

.forecast-wind-speed-container,
.forecast-wind-gust-container,
.forecast-wind-direction-container,
.forecast-uv-container,
.forecast-humidity-container,
.forecast-visibility-container{
    display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;
}

/* --footer-- */
footer{
    grid-area: footer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
}

.footer-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

footer p > a{
    text-decoration: none;
    color: white;
    position: relative;
}

footer p > a::after{
    content: "";
    background-color: white;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
    transition: 0.25s ease;
}

footer p > a:hover::after{
    width: 0;
}

footer svg{
    fill: white;
    width: 25px;
    height: 25px;
    transition: 0.25s ease;
}

footer svg:hover{
    fill: rgba(255, 255, 255, 0.5);
}

/* --Dialog-- */
dialog{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.247);
    color: white;
    gap: 1.5rem;
    font-size: 1.35rem;
    font-family: "geist", sans-serif;
    padding: 1rem 1.75rem;
    margin: auto;
}

dialog[open]{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow);
}

dialog::backdrop{
    background: rgba(255, 255, 255, 0.178);
    backdrop-filter: blur(2px);
}

.close-btn{
    border: 1px solid rgba(255, 255, 255, 0.329);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.048);;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-family: "geist", sans-serif;
    padding: 0.9rem 1.75rem;
    transition: 0.25s ease;
}

.close-btn:hover{
    background-color: rgba(255, 255, 255, 0.13);;
}