* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas: 
        "aside header"
        "aside main"
        "aside footer";
    height: 100hv;
}


/* --Header-- */
header{
    grid-area: header;
}

header svg{
    width: 25px;
    height: 25px;
}

/* --Sidebar-- */
aside{
    grid-area: aside;
}

/* --Main-- */
main{
    grid-area: main;
}

.forecast-container{
    display: flex;
    gap: 1.5rem;
}

/* --footer-- */
footer{
    grid-area: footer;
}