@font-face {
    font-family: "geist";
    src: url(./assets/fonts/Geist/Geist-VariableFont_wght.ttf);
}

:root{
    --box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.041);
    --primary-text-color: rgba(255, 255, 255, 0.75);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 6fr 50px;
    grid-template-areas: 
        "aside header"
        "aside main"
        "aside footer";
    height: 100vh;
    color: white;
    font-family: "geist";
    padding: 1.75rem;
    gap: 2rem;
}

aside,
header,
.day-container{
    color: white;
    background-color: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(8px);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.247);
    box-shadow: var(--box-shadow);
    padding: 1rem;
}


/* --Header-- */
header{
    grid-area: header;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-location{
    display: flex;
    align-items: center;
    
}

.header-right{
    display: flex;
    gap: 1rem;
}

.fahrenheit-btn,
.celsius-btn{
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.247);
    border-radius: 50%;
    padding: 1.10rem;
}

header svg{
    width: 25px;
    height: 25px;
}

/* --Sidebar-- */
aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
}

aside h1{
    font-size: 2rem;
}

aside h3{
    font-size: 1.2rem;
}

aside img{
    width: 280px;
    height: 280px;
    margin-bottom: -0.5rem;
}

.current-weather-top {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  
}

.current-weather-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.current-temp{
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: -1px;
}

.current-weather-bottom{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bottom-info{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    font-size: 1.05rem;
}

.extra-info-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.25rem;
    margin-top: 3rem;
}

.extra-info-container h4 {
    width: 100%;
    text-align: center;
    padding-bottom: 0.4rem;
    margin-bottom: 1.15rem;
    position: relative;
}

.extra-info-container h4::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.39);
}

.extra-info-container p{
    color: var(--primary-text-color);
    font-size: 0.95rem;
}

.wind-container,
.uv-container,
.humidity-container,
.visibility-container{
    background-color: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.247);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    transition: 0.2s ease;
}

.uv-container p,
.humidity-container p,
.visibility-container p{
    text-align: center;
}

.wind-container:hover,
.uv-container:hover,
.humidity-container:hover,
.visibility-container:hover {
  transform: translateY(-2px);
  background-color: rgba(255, 255, 255, 0.07);
}

.wind-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wind-info span{
    margin-left: auto;
}

.wind-speed-container,
.wind-gust-container,
.wind-direction-container{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
    width: 100%;
}

.uv-info,
.humidity-info,
.visibility-info{
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 2rem;
}

.uv-value,
.humidity-value,
.visibility-value{
    font-size: 2.15rem;
    font-weight: 500;
    text-align: center;
}

/* --Main-- */
main{
    grid-area: main;
}


.forecast-container{
    display: flex;
    gap: 1.5rem;
    height: 100%;
}

/* --footer-- */
footer{
    grid-area: footer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
}

.footer-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

footer p > a{
    text-decoration: none;
    color: white;
    position: relative;
}

footer p > a::after{
    content: "";
    background-color: white;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
    transition: 0.25s ease;
}

footer p > a:hover::after{
    width: 0;
}

footer svg{
    fill: white;
    width: 25px;
    height: 25px;
    transition: 0.25s ease;
}

footer svg:hover{
    fill: rgba(255, 255, 255, 0.5);
}