* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 100px 6fr 50px;
    grid-template-areas: 
        "aside header"
        "aside main"
        "aside footer";
    height: 100vh;
    padding: 1rem;
    gap: 2rem;
}

aside,
header,
.day-container{
    color: white;
    background-color: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(8px);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.247);
    padding: 1rem;
}


/* --Header-- */
header{
    grid-area: header;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-location{
    display: flex;
    align-items: center;
    
}

.header-right{
    display: flex;
    gap: 1rem;
}

.fahrenheit-btn,
.celsius-btn{
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.247);
    border-radius: 50%;
    padding: 1.10rem;
}

header svg{
    width: 25px;
    height: 25px;
}

/* --Sidebar-- */
aside{
    grid-area: aside;
}

aside img{
    width: 210px;
    height: 210px;
}

/* --Main-- */
main{
    grid-area: main;
}


.forecast-container{
    display: flex;
    gap: 1.5rem;
}

/* --footer-- */
footer{
    grid-area: footer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
}

.footer-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

footer p > a{
    text-decoration: none;
    color: white;
    position: relative;
}

footer p > a::after{
    content: "";
    background-color: white;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
    transition: 0.25s ease;
}

footer p > a:hover::after{
    width: 0;
}

footer svg{
    fill: white;
    width: 25px;
    height: 25px;
    transition: 0.25s ease;
}

footer svg:hover{
    fill: rgba(255, 255, 255, 0.5);
}